node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
logs/*


jspm_packages/


.npm


.eslintcache

.node_repl_history


dist/
build/
out/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env